body{
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Noto Sans,Ubuntu,Droid Sans,Helvetica Neue,sans-serif;
    background-image: url(https://trello-backgrounds.s3.amazonaws.com/SharedBackground/2400x1600/a335cb30e1c5e6f3d179b8efe42e347a/photo-1541649833730-8d1f1b8a776c.jpg) ;
    background-repeat: no-repeat;
    background-position: unset;
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
}

.content-grid{
    display: flex;
    margin: 10px 10px; 
}

.grid {
    display: grid;
    grid-template-columns: 400px 350px;
    padding: 0;
}

.painel {
    width: 272px;
    background: #ebecf0;
    border-radius: 10px;
    padding: 0;
    height: auto;
    margin-right: 10px;
}

.task-painel {
    width: 260px;
    background: white;
    height: 127px;
    margin-left: 5px;
    margin-top: 5px;
    margin-bottom: 10px;
    border-radius: 10px;
}

.content-task-header {
    margin-left: 10px;
}
    .content-task-header > i {
        color: #246f8c99;
        cursor: pointer;
    }

    .content-task-header > label {
        margin: 10px 0px 0px 0px;
        width: 85%;
        color: #1063b7;
        cursor: pointer;
        font-family: monospace;
    }

    .content-task-body > label{
        margin: 30px 0px 0px 18px;
        border-bottom: 3px solid #c57c0e;
        border-radius: 2px;
        color: #1063b7;
        font-family: monospace;
        cursor: pointer;
    }

.avatar{
    background-image: url("..\\images\\Mario.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 100%;
    width: 46px;
    height: 46px;
    display: inline-block;
    position: relative;
    left: 212px;
    top: -23px;
    cursor: pointer;
}

.cabecalho-task {
    width: 100%;
    background: #2bb5de;
    height: 20px;
    border-radius: 10px 10px 0px 0px;
    cursor: pointer;
}

.header-panel input{
    width: 185px;
}

.input-transform{
    margin: 10px 10px 5px;
    display: inline-block;
}
    .input-transform input{
        display: inline-block;
        height: auto;
        background: none;
        border: none;
        padding-left: 15px;
        color: #6f6f6f;
    }
    
    .input-transform input:focus{
        background: white;
        outline: none;
        border: 2px solid #246f8c;
        border-radius: 5px;
        color: black;
    }
    .input-transform > i{
        margin-left: 25px;
        cursor: pointer;
        padding: 9px;
        border-radius: 8px;
        transition:  0.5s;
        color: #246f8c;
    }

    .input-transform i:hover{
        background: #bbbbbb;
        transition:  0.5s;
    }


.footer-content{
    margin: 10px 10px;
    display: inline-block;
}

.footer-painel{
    transition:  0.5s;
    padding: 5px 5px 5px 10px;
    border-radius: 8px;
    display: inline-block;
    width: 185px;
    font-size: 15px;
    color: #6f6f6f;
    cursor: pointer;
}

.footer-painel:hover{
    background: #bbbbbb;
    transition:  0.5s;
}

.icon-circle{
    color: #246f8c;
    margin-right: 5px
}

.icon-add{
    display: inline-block;
    color: #246f8c;
    margin-left: 0px;
    cursor: pointer;
    padding: 9px;
    border-radius: 8px;
}

    .icon-add:hover{
        background: #bbbbbb;
        transition:  0.5s;
    }

.btn-general{
    border: none;
    background: none;
    color: #6f6f6f;
    cursor: pointer;
    font-size: 13px;
}

.btn-general:focus{
    outline: none;
}

.btn-externo{
    background: #0000007a;
    padding: 15px;
    border-radius: 8px;
    width: 300px;
    cursor: pointer;
    transition: .5s;
    margin-top: 11px;
}
    .btn-externo .btn-general{
        color:  #c57c0e;
        letter-spacing: 1px;
        font-weight: bold;
    }
    .btn-externo:hover{
        background: #000000ba;
        color: white;
        transition: .5s;
    }

.pop-up {
    width: 290px;
    background: white;
    border-radius: 8px;
    position: fixed;
    display: none;
    transition: .5s;
    color: #565656;
    font-size: 13px;
}
    .pop-up ul {
        list-style: none;
        margin-left: -15px;
    }
    
    .pop-up ul li {
        margin-top: 17px
    }

    .pop-up ul li:hover {
        cursor: pointer;
    }

    .pop-up h4{
        width: 100px;
        margin-right: 128px;
        margin-left: 17px;
        display: inline-block;
        margin-top: 10px;
        font-size: 14px;
    }

    .pop-up i{
        color: red;
    }

    .pop-up i:hover{
        background: none;
    }

    hr{
        border: 0;
        border-top: 1px solid rgba(0,0,0,.1);
        margin-top: 0;
    }

.modal-header { 
    background: #246f8c
}

.modal-header input{ 
    color: white;
    font-weight: bold;
    font-size: 19px;
    letter-spacing: 1px;
    width: 500px;
}

.input-style { 
    border: 1px solid #246f8c99;
    border-radius: 5px;
    transition: 0.4s;
    padding: 14px;
    font-size: 13px;
}

.input-style-textarea {
    width: 700px;
    height: 90px;
}

.input-style-input {
    height: 24px;
}

    .input-style:focus{
        border: 1px solid #246f8c;
        text-transform: none;
        box-shadow: inset 0 0 5px #0b40ff91;
        transition: 0.4s;
    }

    .input-style:focus{
        outline: 0;
    }

.group-modal {
    margin-top: 17px;
}

.group-modal  label{
    display: block;
}

.modal-content-task{
    padding: 0px 17px 17px 17px;
}

.btn-primary{
    background-color: #246f8c !important;
}

    .btn-primary:hover{
        color: #fff;
        background-color: #2080a5 !important;
        border-color: #0062cc;
    }



.input-icon{
    margin-left: -32px;
    color: #196b73;
    border-left: 1px solid #2080a5;
    padding-left: 4px;
}